<div class="ml-auto mr-auto text-center my-3">
  <h3 class="main-color launch-title">CONTROLE 50 30 20</h3>
  <h4 class="m-0 p-2">
    Em breve você vai poder consultar os meses retroativos aqui
  </h4>
  <div class="btn-close">
    <button mat-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div [formGroup]="form">
  <div class="mt-1" fxLayoutAlign="center center">
    <img src="./../../../../../assets/img/svg/hi-five.svg" style="max-width: 40vh;" />
  </div>
</div>
