<div class="page-header header-filter" data-parallax="true"
  style="background-image: url('../assets/img/profile_city.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 style="font-size: 2rem;" class="title m-0">Controle 50-30-20</h1>
        <p style="font-weight: 400; font-size: 12px; height: 12px; margin: 0;"><i>"Não se controla o que não se
            mede..."</i></p>
        <p style="font-weight: 400; font-size: 10px; height: 10px; margin: 0;"><i>W. Edwards Deming</i></p>
      </div>
    </div>
  </div>
</div>
<div #calculeAgora class="main main-raised">
  <div class="profile-content">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="profile-content">
          <div class="row text-center">
            <div class="col-md-8 ml-auto mr-auto">
              <button class="p-2 btn-tooltip m-1" mat-button #matTooltipSaibaMais="matTooltip"
                matTooltip="Sempre que você enviar as suas despesas do mês ao seu e-mail, o seu código secreto será informado. Este código é unicamente seu e será usado aqui para que você revise o seu histórico de gastos."
                (click)="abrirComoFuncionaBottomSheet()">
                <mat-icon>info</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <mat-tab-group class="tabs" mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
          <mat-tab *ngFor="let mes of meses" (click)="selectedTabChange($event, mes)">
            <ng-template mat-tab-label>
              <div (mousedown)="selectedTabChange(mes)">
                <span> {{ mes }}</span>
              </div>
            </ng-template>
            <p class="text-center">
              <small>Mês selecionado: <span style="font-weight: bold;">{{selectedMonthDesc}}</span></small>
            </p>
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="profile-tabs">
                  <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                        <i class="material-icons">money</i> Ganhos
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                        <i class="material-icons">fastfood</i> Despesas
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content tab-space">
              <div class="tab-pane active text-center gallery" id="studio">
                <div class="row">
                  <p class="text-center w-100">
                    <small>Preencha sua renda e veja o gráfico ideal</small>
                  </p>
                  <div class="col-md-4 ml-auto mr-auto">
                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">monetization_on</i>
                          </span>
                        </div>
                        <input placeholder="Quanto você recebeu este mês?" formControlName="renda1" currencyMask
                          required autocomplete="off" [options]="{ prefix: '', thousands: '.', decimal: ',' }"
                          type="text" #inputRenda1 tabindex="1" class="form-control input-renda" pattern="[0-9]*"
                          inputmode="numeric">
                      </div>
                    </div>
                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">monetization_on</i>
                          </span>
                        </div>
                        <input placeholder="Renda do(a) parceiro(a)" formControlName="renda2" currencyMask required
                          autocomplete="off" [options]="{ prefix: '', thousands: '.', decimal: ',' }" type="text"
                          #inputRenda2 tabindex="2" class="form-control input-renda" pattern="[0-9]*"
                          inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 ml-auto mr-auto">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 ml-auto mr-auto text-center">
                    <h4 class="description">Renda do mês {{selectedMonthDesc}}: <span style="font-weight: bold;">R$
                        {{getFormattedPrice(rendaTotal)}}</span></h4>
                    <h4 class="title" style="margin: 0px;">Gráfico 50-30-20 Ideal</h4>
                    <div id="pie-chart-parent" style="display: flex; overflow: hidden;"
                      *ngIf="rendaTotal > 0; else empty">
                      <ngx-charts-pie-grid [scheme]=" colorScheme" [results]="single" (select)="onSelect($event)"
                        (onWindowResize)="onResize($event)" [view]="view" style="margin: 0 auto !important;"
                        [width]="auto">
                      </ngx-charts-pie-grid>
                    </div>
                    <ng-template #empty>
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      <p><small>Aguardando preenchimento...</small></p>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="tab-pane text-center gallery" id="works">
                <div class="row">
                  <p class="text-center w-100">
                    <small>Clique abaixo para selecionar despesa</small>
                  </p>
                  <div class="col-md-4 ml-auto mr-auto text-center m-2">
                    <mat-chip-list style="display: inline-flex;">
                      <mat-chip color="accent" (click)="abrirBottomSheetDespesas()">Selecionar Despesa</mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 ml-auto mr-auto">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">list</i>
                          </span>
                        </div>
                        <input type="text" formControlName="descricaoDespesa" class="form-control"
                          placeholder="Descrição da Despesa" tabindex="1" (click)="openBottomSheet()" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">edit</i>
                          </span>
                        </div>
                        <input type="text" formControlName="obsDespesa" class="form-control" placeholder="Observação"
                          tabindex="1">
                      </div>
                    </div>
                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">monetization_on</i>
                          </span>
                        </div>
                        <input placeholder="Valor da Despesa" formControlName="valorDespesa" currencyMask required
                          autocomplete="off" [options]="{ prefix: '', thousands: '.', decimal: ',' }" type="text"
                          #valorDespesa tabindex="2" class="form-control input-renda" pattern="[0-9]*"
                          inputmode="numeric" autofocus>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 ml-auto mr-auto text-center m-2">
                    <mat-chip-list style="display: inline-flex;">
                      <mat-chip color="accent" (click)="adicionarDespesa()">Adicionar Despesa</mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </form>
    <mat-toolbar class="toolbar-bottom" color="primary">
      <mat-toolbar-row class="justify-content-center">

        <span class="spacer"></span>
        <button mat-icon-button #matTooltipLancamentosDespesas="matTooltip" matTooltip="Lançamentos de Despesas do Mês"
          (click)="abrirLancamentosDespesasMesBottomSheet()" matBadge="{{contLancamentoDespesas}}" matBadgeColor="warn">
          <mat-icon>fastfood</mat-icon>
        </button>

        <span class="spacer"></span>
        <button mat-icon-button (click)="abrirGraficoDespesasBottomSheet()">
          <mat-icon>pie_chart</mat-icon>
        </button>

        <span class="spacer"></span>
        <button mat-icon-button (click)="abrirCodigoSecretoBottomSheet()">
          <mat-icon>vpn_key</mat-icon>
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>