.nav-tabs, .nav-pills {
    padding: 0px !important;
}

.btn-tooltip {
    line-height: 15px;
    text-transform: none;
}

.input-renda {
    font-size: 30px;
}

.input-group-text {
    padding: 0 10px 0 0;
}

.form-control {
    height: 45px;
}

.floating-button-right {
    bottom: 15px;
    right: 20%;
    position: fixed;
    background-color: #9c27b0;
    color: #fff;
}

.floating-button-center {
    bottom: 15px;
    position: fixed;
    background-color: #ff9800;
    color: #fff;
}

.floating-button-left {
    bottom: 15px;
    left: 20%;
    position: fixed;
    background-color: #00bcd4;
    color: #fff;
}

#pie-chart-parent { 
    display: grid; 
}

ngx-charts-pie-chart { 
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0; 
}
