<div class="page-header header-filter" data-parallax="true"
  style="background-image: url('../assets/img/profile_city.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 style="font-size: 2rem;" class="title m-0">Controle 50-30-20</h1>
        <span style="font-weight: 400; font-size: 14px;"><i>“Não se controla o que não se mede... " W. Edwards
            Deming</i></span>
      </div>
    </div>
  </div>
</div>
<div #calculeAgora class="main main-raised">
  <div class="profile-content">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="profile-content">
          <div class="row text-center">
            <div class="col-md-8 ml-auto mr-auto">
              <button class="p-2 btn-tooltip m-1" mat-button #matTooltipSaibaMais="matTooltip"
                matTooltip="Sempre que você enviar as suas despesas do mês ao seu e-mail, o seu código secreto será informado. Este código é unicamente seu e será usado aqui para que você revise o seu histórico de gastos."
                (click)="abrirComoFuncionaBottomSheet()">
                <mat-icon>info</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="description text-center">
        </div>
        <div class="row">
          <div class="ml-auto mr-auto text-center">
            <div class="form-group bmd-form-group">
              <mat-chip-list #chipList aria-label="Selecione o mês">
                <mat-chip *ngFor="let mes of meses" [selectable]="selectable" (click)="selecionarMes(mes)"
                  [selected]="selectedMonthDesc === mes">
                  {{mes}}
                </mat-chip>
              </mat-chip-list>
              <p>
                <small>Mês selecionado: <span style="font-weight: bold;">{{selectedMonthDesc}}</span></small>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                    <i class="material-icons">money</i> Ganhos
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">fastfood</i> Despesas
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">mail</i> Enviar
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">
              <p class="text-center w-100">
                <small>Preencha sua renda e veja o gráfico ideal</small>
              </p>
              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">monetization_on</i>
                      </span>
                    </div>
                    <input placeholder="Quanto você recebeu este mês?" formControlName="renda1" currencyMask required
                      autocomplete="off" [options]="{ prefix: '', thousands: '.', decimal: ',' }" type="text"
                      #inputRenda1 tabindex="1" class="form-control input-renda" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">monetization_on</i>
                      </span>
                    </div>
                    <input placeholder="Renda do(a) parceiro(a)" formControlName="renda2" currencyMask required
                      autocomplete="off" [options]="{ prefix: '', thousands: '.', decimal: ',' }" type="text"
                      #inputRenda2 tabindex="2" class="form-control input-renda" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto text-center">
                <h4 class="description">Renda do mês {{selectedMonthDesc}}: <span style="font-weight: bold;">R$
                    {{getFormattedPrice(rendaTotal)}}</span></h4>
                <h4 class="title" style="margin: 0px;">Gráfico 50-30-20 Ideal</h4>
                <div id="pie-chart-parent" style="display: flex; overflow: hidden;" *ngIf="rendaTotal > 0; else empty">
                  <ngx-charts-pie-grid [scheme]=" colorScheme" [results]="single" (select)="onSelect($event)"
                    (onWindowResize)="onResize($event)" [view]="view" style="margin: 0 auto !important;" [width]="auto">
                  </ngx-charts-pie-grid>
                </div>
                <ng-template #empty>
                  <mat-chip-list style="display: inline-flex;">
                    <mat-chip color="accent" selected>Aguardando preenchimento...</mat-chip>
                  </mat-chip-list>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <p class="text-center w-100">
                <small>Clique abaixo para selecionar despesa</small>
              </p>
              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <button mat-button (click)="openBottomSheet()">Selecionar Despesa</button>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">list</i>
                      </span>
                    </div>
                    <input type="text" formControlName="descricaoDespesa" class="form-control"
                      placeholder="Descrição da Despesa" tabindex="1" (click)="openBottomSheet()" readonly>
                  </div>
                </div>
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">monetization_on</i>
                      </span>
                    </div>
                    <input placeholder="Valor da Despesa" formControlName="valorDespesa" currencyMask required
                      autocomplete="off" [options]="{ prefix: '', thousands: '.', decimal: ',' }" type="text"
                      #valorDespesa tabindex="2" class="form-control input-renda" pattern="[0-9]*" inputmode="numeric"
                      autofocus>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto text-center">
                <button mat-fab class="add-button" matTooltip="Adicionar Despesa" (click)="adicionarDespesa()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto text-center m-2">
                <mat-chip-list style="display: inline-flex;">
                  <mat-chip color="accent" selected>{{msgAdicionarDespesas}}</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto text-center">
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" formControlName="email" placeholder="Digite seu e-mail">
                    <div class="invalid-feedback" *ngIf="formGroup.controls.email.errors?.required">
                      Digite seu e-mail!
                    </div>
                    <div class="invalid-feedback" *ngIf="formGroup.controls.email.errors?.pattern">
                      Digite um e-mail válido!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto text-center">
                <button mat-stroked-button type="submit">Salvar e Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-center bd-highlight mb-3">
    <button mat-fab #matTooltipGraficoDespesas="matTooltip" class="floating-button-right"
      matTooltip="Gráficos de Despesas" (click)="abrirGraficoDespesasBottomSheet()">
      <mat-icon>pie_chart</mat-icon>
    </button>
    <button mat-fab #matTooltipLancamentosDespesas="matTooltip" class="floating-button-center"
      matTooltip="Lançamentos de Despesas do Mês" (click)="abrirLancamentosDespesasMesBottomSheet()"
      matBadge="{{contLancamentoDespesas}}" matBadgeColor="warn">
      <mat-icon>fastfood</mat-icon>
    </button>
    <button mat-fab #matTooltipCodigoSecreto="matTooltip" class="floating-button-left"
      matTooltip="Informar código secreto." (click)="abrirCodigoSecretoBottomSheet()">
      <mat-icon>vpn_key</mat-icon>
    </button>
  </div>
</div>