<div class="ml-auto mr-auto text-center my-3">
  <h3 class="main-color launch-title">DESPESAS RECORRENTES</h3>
  <h4 class="refer m-0 p-0">
    Você definiu que as despesas abaixo vão se repetir mês a mês
  </h4>
  <div class="btn-close">
    <button mat-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<app-total
  [type]="'OUT'"
  [selectedMonthDesc]="data.selectedMonthDesc"
  [total]="data.monthExpenses"
></app-total>
<launches-by-month
  class="div-scroll"
  [reloadLaunches]="reloadLaunchesSubject.asObservable()"
></launches-by-month>
