<div class="row m-1 text-center">
    <h4>Selecione o Tipo de Despesa</h4>
    <small>Lançamentos do Mês 03/2020</small>

    <mat-chip-list #chipList aria-label="Tipo de Despesa">
        <mat-chip *ngFor="let despesa of DespesaEnum | keyvalue" [selectable]="selectable"
            (click)="selecionarDespesa(despesa.value)">
            {{despesa.key}}
        </mat-chip>
    </mat-chip-list>

</div>

<ng-container *ngFor="let despesa of despesasSelecionadas">
    <ng-container *ngFor="let item of despesa.itensDespesa">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.desc}}</mat-card-title>
                <mat-card-subtitle>{{despesa.name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{item.valor}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>REMOVER</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</ng-container>