<div class="container">
  <div class="row" fxLayout="column" fxLayoutAlign="space-between center">
    <h2 style="font-size: 1.5rem" class="title m-0">Controle 50-30-20</h2>
    <p class="description-small"><i>Informe seu e-mail de cadastro</i></p>
  </div>
</div>
<div class="m-2" fxLayoutAlign="center center">
  <img
    src="./../../../../../assets/img/svg/login.svg"
    class="img-svg"
    alt=""
    fxFlex.lt-sm="50"
    fxFlex="30"
  />
</div>
<div class="row">
  <div class="col-md-12 ml-auto mr-auto text-center">
    <div class="form-group bmd-form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">vpn_key</i>
          </span>
        </div>
        <input
          type="text"
          [formControl]="email"
          class="form-control"
          placeholder="Insira o seu e-mail"
        />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 ml-auto mr-auto text-center">
    <a mat-stroked-button (click)="login()">Entrar</a>
  </div>
</div>
