<div
  class="page-header header-filter"
  data-parallax="true"
  style="background-image: url('../../../../assets/img/profile_city.jpg')"
>
  <div class="container">
    <div class="row" fxLayout="column" fxLayoutAlign="space-between center">
      <h1 style="font-size: 2rem" class="title m-0"><small style="color: #fff;">cinquenta30vinte</small></h1>
      <p class="description"><i>"Não se controla o que não se mede..."</i></p>
      <p class="description-small"><i>W. Edwards Deming</i></p>
    </div>
  </div>
</div>
