<div
  class="page-header header-filter"
  data-parallax="true"
  style="background-image: url('../../../../assets/img/img-couple-2.jpg')"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="slogan">
    <p class="description"><i>"Não se controla o que não se mede..."</i></p>
    <p class="description-small"><i>W. Edwards Deming</i></p>
  </div>
  <div class="logo-avatar">
    <img src="../../../../assets/logo/avatar.png" />
  </div>
  <div
    class="w-100 inner-div my-3"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="w-100 logo" fxLayout="column" fxLayoutAlign="start start">
      <img src="../../../../assets/logo/logo-horizonal.png" />
    </div>
  </div>
  <app-how-it-works class="how-it-works"></app-how-it-works>
</div>
