.page-header {
  height: 50vh !important;
  overflow: hidden;
}

.description {
  font-weight: 500;
  font-size: 12px;
  height: 13px;
  margin: 5px 0;
  color: #e5fff6;
}

.description-small {
  font-weight: 500;
  font-size: 9px;
  height: 12px;
  margin: 0;
  color: #ecb9a6;
}

.logo {
  margin-left: 20%;
  img {
    max-width: 90px;
  }
}

.logo-avatar {
  position: fixed;
  top: 3%;
  right: 3%;
  text-align: center;
  img {
    max-width: 40px;
  }
}

.slogan {
  position: fixed;
  top: 3%;
  text-align: right;
  right: 3%;
}

.inner-div,
.slogan {
  z-index: 1;
}

.how-it-works {
  position: relative;
  top: 1%;
  z-index: 2;
}
