<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
  id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <i>&nbsp;</i>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Navegação</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
            <i class="material-icons">cloud_download</i> Download
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim"
            target="_blank" data-original-title="Follow us on Twitter">
            <i class="fa fa-twitter"></i> Twitter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim"
            target="_blank" data-original-title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i> Facebook
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
            href="https://www.instagram.com/CreativeTimOfficial" target="_blank"
            data-original-title="Follow us on Instagram">
            <i class="fa fa-instagram"></i> Instagram
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>