<mat-tab-group>
  <mat-tab *ngFor="let item of categoriesGrouped">
    <ng-template mat-tab-label>
      <span matBadge="{{ item.subItems.length }}" matBadgeOverlap="false">{{
        item.name
      }}</span>
    </ng-template>
    <mat-list>
      <mat-selection-list>
        <mat-list-option
          style="margin-left: 15px"
          *ngFor="let subItem of item.subItems"
          (click)="select($event, subItem)"
        >
          {{ subItem.title }}
        </mat-list-option>
      </mat-selection-list>
    </mat-list>
  </mat-tab>
</mat-tab-group>
