<form [formGroup]="formGroup">
  <div>
    <div class="container">
      <div class="container">
        <div class="row" fxLayout="column" fxLayoutAlign="space-between center">
          <h5 class="mt-3 mb-6 logo">CONTROLE 50-30-20</h5>
        </div>
      </div>
      <h3 class="mx-5 mt-5 text-center">
        Para criar nova conta, informe os e-mails de vocês
      </h3>
      <p class="description-small text-center px-5">
        Uma senha segura de acesso será enviada por e-mail
      </p>
      <div class="row" fxLayout="column" fxLayoutAlign="space-between center">
        <div class="py-2">
          <p
            class="description-small"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <mat-icon>report</mat-icon>
            <i class="pl-2"> O segundo campo não é obrigatório.</i>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group w-100">
        <div
          class="input-group py-3"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">mail</i>
            </span>
          </div>
          <div>
            <input
              type="text"
              [formControl]="mail"
              class="form-control input-mail"
              placeholder="Insira o seu e-mail*"
              autocomplete="off"
              required
            />
            <mat-error [innerHTML]="getErrorEmail(mail, 'email')"> </mat-error>
          </div>
        </div>
        <div
          class="input-group px-2"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">mail</i>
            </span>
          </div>
          <div>
            <input
              type="text"
              [formControl]="inviteMail"
              class="form-control input-mail"
              placeholder="Insira o e-mail dele(a)"
            />
            <mat-error [innerHTML]="getErrorEmail(inviteMail, 'email')">
            </mat-error>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div
      fxLayou="column"
      fxLayoutAlign="center center"
      class="ml-auto mr-auto text-center"
    >
      <a mat-stroked-button (click)="newUser()" class="mx-2">Criar conta</a>
      <a mat-stroked-button href="/" class="mx-2">Login</a>
    </div>
  </div>
</form>
