<mat-tab-group
  class="tabs mt-2"
  mat-align-tabs="center"
  (selectedTabChange)="tabChanged($event)"
  [(selectedIndex)]="tabIndex"
>
  <mat-tab *ngFor="let mes of meses" (click)="selectedTabChange($event, mes)">
    <ng-template mat-tab-label>
      <div (mousedown)="selectedTabChange(mes)">
        <span> {{ mes }}</span>
      </div>
    </ng-template>
    <p class="text-center">
      <small
        >SELECIONADO:
        <span style="font-weight: bold">{{ selectedMonthDesc }}</span></small
      >
    </p>
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="profile-tabs">
          <ul
            class="nav nav-pills nav-pills-icons justify-content-center"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#studio"
                role="tab"
                data-toggle="tab"
              >
                <i class="material-icons">money</i> Ganhos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                <i class="material-icons">fastfood</i> Despesas
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content tab-space">
      <div class="tab-pane active text-center gallery" id="studio">
        <div class="column" fxLayout="column" fxLayoutAling="center center">
          <div class="ml-auto mr-auto text-center m-2">
            <mat-chip-list style="display: inline-flex">
              <mat-chip color="accent" (click)="openEarnings()"
                >Adicionar Receitas</mat-chip
              >
              <mat-chip color="accent" (click)="abrirBottomSheet503020()"
                >Ver 50 30 20</mat-chip
              >
            </mat-chip-list>
          </div>
          <app-total
            [type]="'IN'"
            [selectedMonthDesc]="selectedMonthDesc"
            [total]="monthEarning$ | async"
          ></app-total>
        </div>
      </div>
      <div class="tab-pane text-center gallery" id="works">
        <div class="column" fxLayout="column" fxLayoutAling="center center">
          <div class="ml-auto mr-auto text-center m-2">
            <mat-chip-list style="display: inline-flex">
              <mat-chip color="accent" (click)="abrirBottomSheetDespesas()"
                >Adicionar Despesa</mat-chip
              >
              <mat-chip color="accent" (click)="abrirBottomSheet503020()"
                >Ver 50 30 20</mat-chip
              >
            </mat-chip-list>
          </div>
          <app-total
            [type]="'OUT'"
            [selectedMonthDesc]="selectedMonthDesc"
            [total]="monthExpenses$ | async"
          ></app-total>
        </div>
        <launches-by-month
          [reloadLaunches]="reloadLaunchesSubject.asObservable()"
        ></launches-by-month>
      </div>
      <ng-template #loading1>
        <loading-bar [title]="'Carregando...'"></loading-bar>
      </ng-template>
      <ng-template #loading2>
        <loading-bar [title]="'Carregando...'"></loading-bar>
      </ng-template>
    </div>
    <button
      mat-fab
      class="floating-button-add"
      color="primary"
      aria-label="Adicionar Despesa"
      (click)="abrirBottomSheetDespesas()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>
</mat-tab-group>
