.stepper {
  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none;
  }

  ::ng-deep .mat-horizontal-content-container {
    padding: 1px !important;
  }
}

.input-size {
  font-size: 22px;
}

.botoes-navegacao {
  button:last-child {
    float: right;
  }
}

.img-svg {
  width: 220px;
}