<div fxLayout="column">
  <form [formGroup]="formGroup">
    <mat-horizontal-stepper
      class="stepper"
      linear
      #stepper
      (selectionChange)="changeStepper($event)"
      labelPosition="bottom"
    >
      <mat-step>
        <p class="mat-headline mb-2 text-center">Ref. {{ selectedMonth }}</p>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="title-section p-2 mb-2 text-center"
        >
          <p class="secondary-text-color">
            Quanto você pagou de <strong>{{ category?.title }}</strong> em
            {{ selectedMonth }}?
          </p>
        </div>
        <div class="row">
          <div class="ml-auto mr-auto">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">edit</i>
                  </span>
                </div>
                <input
                  placeholder="Valor da Despesa"
                  formControlName="valorDespesa"
                  currencyMask
                  required
                  autocomplete="off"
                  [options]="{ prefix: '', thousands: '.', decimal: ',' }"
                  type="text"
                  #valorDespesa
                  tabindex="2"
                  class="form-control input-size"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  onfocus="this.value = this.value;"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="botoes-navegacao">
          <button mat-stroked-button matStepperPrevious>Voltar</button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="getValorDespesa() === 0"
            matStepperNext
          >
            Próxima Etapa
          </button>
        </div>
      </mat-step>

      <mat-step>
        <p class="mat-headline mb-2 text-center">Ref. {{ selectedMonth }}</p>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="title-section p-2 mb-2 text-center"
        >
          <p class="secondary-text-color">
            Quer inserir alguma observação sobre
            <strong>{{ category?.title }}</strong
            >?
          </p>
        </div>
        <div class="row">
          <div class="ml-auto mr-auto">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">edit</i>
                  </span>
                </div>
                <input
                  type="text"
                  formControlName="obsDespesa"
                  class="form-control input-size"
                  placeholder="Insira uma observação"
                  tabindex="1"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="botoes-navegacao">
          <button mat-stroked-button matStepperPrevious>Voltar</button>
          <button mat-raised-button color="primary" matStepperNext>
            Próxima Etapa
          </button>
        </div>
      </mat-step>
      <mat-step>
        <p class="mat-headline mb-2 text-center">Ref. {{ selectedMonth }}</p>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="title-section p-2 mb-2 text-center"
        >
          <p class="secondary-text-color">
            Deseja repetir esta despesa ({{ category?.title }}) com esse mesmo
            valor <strong>{{ getValorDespesa() | currency: "BRL" }}</strong> nos
            próximos meses?
          </p>
        </div>
        <div class="row">
          <div class="ml-auto mr-auto">
            <div class="form-group">
              <div
                class="input-group"
                fxLayout="row"
                fxLayoutAlign="center center"
              >
                <mat-label class="mx-2" style="color: #000"> Não </mat-label>
                <mat-slide-toggle
                  (change)="repeatLaunch($event)"
                  formControlName="repeat"
                >
                  <mat-label style="color: #000"> Sim, repetir </mat-label>
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>

        <div class="botoes-navegacao">
          <button mat-stroked-button matStepperPrevious>Voltar</button>
          <button
            mat-raised-button
            color="primary"
            (click)="saveLaunch()"
            matStepperNext
          >
            Salvar
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Feito</ng-template>

        <div fxLayout="column" fxLayoutAlign="center center">
          <link
            rel="preload"
            href="./../../../../../assets/img/svg/celebration.svg"
            as="image"
          />
          <div class="m-2" fxLayoutAlign="center center">
            <img
              src="./../../../../../assets/img/svg/celebration.svg"
              class="img-svg"
              alt=""
              fxFlex.lt-sm="100"
              fxFlex="30"
            />
          </div>

          <p class="mat-title mb-2 text-center">Despesa adicionada!</p>

          <button
            mat-raised-button
            color="primary"
            class="mb-2"
            (click)="novaDespesa()"
          >
            Adicionar outra despesa
          </button>
          <button mat-button (click)="fechar()">Fechar</button>
        </div>

        <ng-template #loading>
          <section fxLayout="column" fxLayoutAlign="center center" class="m-2">
            <mat-spinner class="m-2"></mat-spinner>
            <p class="p-2 secondary-text-color">...</p>
          </section>
        </ng-template>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
