<div class="profile-content">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="info text-center" style="padding: 30px 0px 0px 0px;">
                    <div class="icon icon-info">
                        <i class="material-icons">sentiment_satisfied_alt</i>
                    </div>
                </div>
                <h2 class="title" style="margin: 0px;">Comece agora!</h2>
                <p>Adicione abaixo as receitas e despesas, veja como ficou o seu gráfico e envie o controle para
                    o seu
                    e-mail.</p>
                <p>Sempre que você enviar as suas despesas do mês ao seu e-mail, o seu código secreto será
                    informado. Este código é unicamente seu e será usado aqui para que você revise o seu
                    histórico
                    de gastos.</p>
            </div>
        </div>
    </div>
</div>