<mat-toolbar class="toolbar-bottom" color="primary">
  <mat-toolbar-row class="justify-content-center">
    <span class="mx-2"></span>
    <button
      mat-icon-button
      #matTooltipLancamentosDespesas="matTooltip"
      matTooltip="Lançamentos de Despesas do Mês"
      (click)="openBottomSheetLaunchesByMonthComponent()"
      matBadge="{{ contLancamentoDespesas }}"
      matBadgeColor="warn"
    >
      <mat-icon>fastfood</mat-icon>
    </button>
    <span class="mx-2"></span>
    <button mat-icon-button (click)="abrirGraficoDespesasBottomSheet()">
      <mat-icon>pie_chart</mat-icon>
    </button>
    <span class="mx-2"></span>
    <button mat-icon-button (click)="abrirShareBottomSheet()">
      <mat-icon>share</mat-icon>
    </button>
    <span class="mx-2"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Menu Controle 50 30 20"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>price_change</mat-icon>
        <span>Despesas Recorrentes</span>
      </button>
      <button mat-menu-item (click)="abrirFilterMonthoBottomSheet()">
        <mat-icon>today</mat-icon>
        <span>Consultar mês</span>
      </button>
      <button mat-menu-item (click)="abrirCodigoSecretoBottomSheet()">
        <mat-icon>person</mat-icon>
        <span>Minha Conta</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_off</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
