.copyright {
  font-size: 12px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
}

.bottom-sheet-style {
  padding: 0 !important;
}

.mat-raised-button,
.mat-stroked-button {
  border-radius: 30px !important;
}

.mat-tab-body-content {
  overflow: inherit !important;
}

.main-color {
  color: #624c6b;
}

.launch-title {
  margin: 0;
}

.refer {
  line-height: 0.8;
  font-size: 17px;
}

.tab-list-launches {
  .mat-tab-label {
    height: 65px !important;
  }
}

.input-value {
  font-size: 30px;
  padding-bottom: 10px;
}

.value-bar {
  font-size: 15px;
  border-radius: 20px;
}

.botoes-navegacao {
  button:last-child {
    float: right;
  }
}

.mat-toolbar.mat-primary {
  background: #624c6b;
}

.user-select-none {
  margin: 0 auto !important;
}