.copyright {
  font-size: 12px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
}

.bottom-sheet-style {
  padding: 0 !important;
}

.mat-raised-button,
.mat-stroked-button {
  border-radius: 30px !important;
}

.mat-tab-body-content {
  overflow: inherit !important;
}

.main-color {
  color: #624c6b;
}

.launch-title {
  margin: 0;
}

.refer {
  line-height: 0.8;
  font-size: 17px;
}

.tab-list-launches {
  .mat-tab-label {
    height: 65px !important;
  }
}

.input-value {
  font-size: 30px;
  padding-bottom: 10px;
}

.value-bar {
  font-size: 15px;
  border-radius: 20px;
}

.botoes-navegacao {
  button:last-child {
    float: right;
    background-color: #624c6b;
  }
}

.mat-toolbar.mat-primary {
  background: #624c6b;
}

.user-select-none {
  margin: 0 auto !important;
}

.title-section {
  color: #f18a73;
  font-weight: 600;
}

.rounded-box-shadow {
  border-radius: 30px !important;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 36px 0px,
    rgb(0 0 0 / 3%) 0px 0px 0px 1px !important;
  background-color: #f6f8fb;
}

.mat-bottom-sheet-container {
  min-height: 100vh !important;
  min-width: 100vw !important;
  padding: 15px !important;
}

.img-svg {
  max-width: 15vh;
}

.logo {
  font-size: 12px;
}

.description-small {
  font-family: "Roboto Slab", "Helvetica", "Arial", sans-serif !important;
}

.js-plotly-plot .plotly {
  display: flex;
  align-items: center;
  width: 100% !important;
  .user-select-none {
    margin: 0 auto !important;
    height: 250px;
  }
}

.js-plotly-plot>* {
  align-items: center;
}

.credits {
  font-size: 8px;
}
