.copyright {
  font-size: 12px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
}

.bottom-sheet-style {
  padding: 0 !important;
}

.mat-raised-button, .mat-stroked-button {
  border-radius: 30px !important;
}

.mat-tab-body-content {
  overflow: inherit !important;
}