.launch-card {
    margin: 10px 5px auto !important;
    border-radius: 20px !important;
}

.numero {
    line-height: 2;
    text-align: center;
    font-size: 20px;
}

.valor-despesa {
    text-align: right;
    font-size: 23px;
    border-radius: 20px;
}

.botao-remover {
    position: absolute;
    top: 75%;
    right: 3%;
}

.botao-repeat {
    position: absolute;
    top: 25%;
    right: 3%;
}

.div-fixa {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    padding: 10px 0;
}

.div-scroll {
    overflow: overlay;
    width: 96%;
    max-height: 370px;
    overflow-y: auto;
    margin: 5px auto;
    overflow-x: hidden;
    direction: ltr;
    padding: 3px !important;
}

.div-outer-tabs {
    border-radius: 20px;
    overflow-x: hidden;
    box-shadow: 0px 1px 4px -1px rgb(0 0 0 / 35%);
    padding: 5px !important;
    margin: 15px 0px;
}

.overflow {
    overflow: inherit;
}

.loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-card-content {
    margin-bottom: 5px;
}

.btn-close {
    position: fixed;
    top: 2%;
    right: 2%;
    border-radius: 30%;
    button {
        border-radius: 30px;
        width: 60px;
        height: 60px;
    }
}

.title-type,
.subtitle-type {
    text-align: left;
    margin-bottom: 0;
}

