<div class="ml-auto mr-auto text-center">
  <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
    <small class="m-0 p-0"
      >{{ type === "IN" ? "ENTRADAS" : "SAÍDAS" }}
      {{ selectedMonthDesc }}</small
    >
    <h2 class="month-earning m-0 p-0">
      {{ (type === "IN" ? totalEarning : totalExpenses) | currency: "BRL" }}
    </h2>
  </div>
  <div
    id="pie-chart-parent"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="totalEarning > 0 && type === 'IN'"
  >
    <h4 class="title" style="margin: 0px">
      Gráfico 50-30-20 {{ type === "IN" ? "Ideal" : "Real" }}
    </h4>
    <plotly-plot
      [data]="graphIn?.data"
      [layout]="graphIn?.layout"
      [useResizeHandler]="true"
      [style]="{ position: 'relative', width: '100%', height: '100%' }"
    >
    </plotly-plot>
  </div>
  <div
    id="pie-chart-parent"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="totalExpenses > 0 && type === 'OUT'"
  >
    <h4 class="title" style="margin: 0px">
      Gráfico 50-30-20 {{ type === "IN" ? "Ideal" : "Real" }}
    </h4>
    <plotly-plot
      [data]="graphOut?.data"
      [layout]="graphOut?.layout"
      [useResizeHandler]="true"
      [style]="{ position: 'relative', width: '100%', height: '100%' }"
    >
    </plotly-plot>
  </div>
  <loading-bar
    [title]="'Aguardando preenchimento...'"
    *ngIf="totalEarning === 0 || totalExpenses === 0"
  ></loading-bar>
</div>
