.month-earning {
  line-height: 0.8;
  font-size: 2.5em;
}
#pie-chart-parent {
  .user-select-none {
    position: relative;
    width: 350px !important;
    margin: 0 auto !important;
    height: 250px;
  }
}
.js-plotly-plot .plotly .user-select-none {
  width: auto !important;
}

.tab-rounded {
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 36px 0px,
    rgb(0 0 0 / 3%) 0px 0px 0px 1px !important;
  border-radius: 30px;
}
