<div class="ml-auto mr-auto text-center my-3">
  <ng-container *ngIf="showGraph$ | async; else loading">
    <div id="pie-chart-parent" fxLayout="column" fxLayoutAlign="center center">
      <h4 class="title-section m-0">Ideal/Real</h4>
      <plotly-plot
        [data]="graph?.data"
        [layout]="graph?.layout"
        [useResizeHandler]="true"
        [style]="{ position: 'relative', width: '100%', height: '100%' }"
      >
      </plotly-plot>
    </div>
  </ng-container>
  <ng-template #loading>
    <loading-bar
      [title]="'Para ver os gráficos ideal/real, preencha as receitas e despesas'"
    ></loading-bar>
  </ng-template>
</div>
